---
// Import the required functions
import { getCardById, getNextCard } from "../../services/flashcardService";
import { assertNotNull } from "../../utils";

const data = await Astro.request.formData();
const response = data.get("response");
assertNotNull(response);

// Extract the ID from the URL
const cardId = Astro.params.id;
assertNotNull(cardId);

// Fetch the card information
const card = await getCardById(parseInt(cardId));
assertNotNull(card);

// // Fetch the user's response to the card
// const userResponse = await getUserResponse(parseInt(cardId));

// Fetch the next card information
const nextCard = await getNextCard();
---

<article>
  <h2>
    Your Response to "{card.english} = {card.spanish}" was: {response}
  </h2>
  <div>
    <h3>Card History</h3>
    <p>To-Do: Display the history of the user's responses to this card.</p>
  </div>
  <div>
    {
      nextCard ? (
        <div>
          <a href={`/listen`}>Go to next card</a>
        </div>
      ) : (
        <div>
          <h3>You're done for today! Check back tomorrow for more cards.</h3>
          <a href="/">Go back to Home</a>
        </div>
      )
    }
  </div>
</article>
