---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
  <article class="max-w-lg mx-auto mt-10 p-4 flex flex-col items-center">
    <img alt="Escuchame app" src="escuchame.svg" class="mb-4" />
    <a
      href="/listen"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded w-full flex items-center justify-center"
    >
      Start
    </a>
  </article>
</MainLayout>
