---
import "../styles/common.css";
import db from "../db";
import { users } from "../schema";

const allUsers = await db.select().from(users);
console.log({ allUsers });
---

<html lang="en">
  <head>
    <title>Online Store</title>
    <style>
      h1 {
        font-size: 36px;
      }

      .product-listing-title {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <button>Start</button>
  </body>
</html>
