---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
  <article class="max-w-2xl mx-auto mt-10 p-4 flex flex-col items-center">
    <img alt="Escuchame app" src="escuchame.svg" class="mb-4" />

    <h3 class="text-xl font-semibold mb-6">Daily Spanish listening practice</h3>

    <a
      href="/listen"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded w-full flex items-center justify-center mb-8"
    >
      Start
    </a>

    <h2 class="text-2xl font-bold mb-6">Why Escuchame?</h2>
    <ul class="space-y-4">
      <li class="flex items-start">
        <span class="text-blue-500 mr-4">•</span>
        <p>Enhances your listening skills.</p>
      </li>
      <li class="flex items-start">
        <span class="text-blue-500 mr-4">•</span>
        <p>Learn language in context.</p>
      </li>
      <li class="flex items-start">
        <span class="text-blue-500 mr-4">•</span>
        <p>Adaptive difficulty.</p>
      </li>
      <li class="flex items-start">
        <span class="text-blue-500 mr-4">•</span>
        <p>Spaced repetition for efficient learning.</p>
      </li>
      <li class="flex items-start">
        <span class="text-blue-500 mr-4">•</span>
        <p>Daily reminders for consistent progress.</p>
      </li>
    </ul>
  </article>
</MainLayout>
