---
// import the necessary functions and services
import Flashcard from '../components/Flashcard.astro';
import { getNextCard } from "../services/flashcardService";
const card = await getNextCard();
---

<html>
  <head>
    <title>Listen | Escuchame</title>
  </head>
  <body>
    {
      card ? (
        <>
          <h1>Listen</h1>
          <Flashcard card={card} />
        </>
      ) : (
        <h1>You're done for the day! Come back tomorrow for more.</h1>
      )
    }
  </body>
</html>
