---
import Flashcard from "../components/Flashcard.astro";
import { getCardById, getCurrentReview } from "../services/flashcardService";

const review = await getCurrentReview(Astro.locals.sessionId);
const card = await getCardById(review.cardId);
---

<html>
  <head>
    <title>Listen | Escuchame</title>
  </head>
  <body>
    {
      card ? (
        <>
          <h1>Listen</h1>
          <Flashcard
            reviewId={review.id}
            cardId={review.cardId}
            voiceId={review.voiceId}
          />
        </>
      ) : (
        <h1>You're done for the day! Come back tomorrow for more.</h1>
      )
    }
  </body>
</html>
