---
import { eq } from "drizzle-orm";
import db from "../db";
import MainLayout from "../layouts/MainLayout.astro";
import { reviews } from "../schema";
import {
  arrangeReviewQueue,
  getAudioUrl,
  getCardById,
  getCurrentReview,
  getNewCards,
} from "../services/flashcardService";
import { assertNotNull } from "../utils";

// we set the queue size to 5, ensuring that if we get a question wrong, we
// must go through 4 more questions before seeing it again
const QUEUE_SIZE = 5;

const { sessionId } = Astro.locals;

let review = await getCurrentReview(db, sessionId);

if (!review) {
  // if we don't have a review, wait for it to finish before moving on
  await arrangeReviewQueue(db, sessionId, QUEUE_SIZE);
} else {
  // if we do have a review, we're just creating future cards here...
  arrangeReviewQueue(db, sessionId, QUEUE_SIZE).then(() => {
    // no-op
  });
}

review = await getCurrentReview(db, sessionId);
assertNotNull(review);

await db
  .update(reviews)
  .set({
    shownAt: new Date(),
  })
  .where(eq(reviews.id, review.id));

const newCards = await getNewCards(db, Astro.locals.userId, 5);

const card = await getCardById(review.cardId);
const audioUrl = getAudioUrl(card.id, review.voiceId);
---

<MainLayout title="Listen">
  <article class="max-w-lg mx-auto mt-10 p-4 flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-4">Listen</h1>
    <audio
      controls
      src={audioUrl}
      class="mb-4 w-full"
      id="audioElement"
      onended="document.getElementById('revealButton').style.display = 'block'; "
    ></audio>
    <button
      onclick="document.getElementById('audioElement').play();"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded mb-4 w-full"
    >
      Play
    </button>
    <form method="POST" action={`/respond/${review.id}`} class="w-full">
      <button
        id="revealButton"
        style="display: none;"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded w-full"
        type="submit"
      >
        Reveal
      </button>
    </form>
  </article>
</MainLayout>
