---
// import { revealCard } from '../services/flashcardService';
// const reveal = async (e) => {
//   e.preventDefault();
//   await revealCard(Astro.props.card.id);
// };
---

<article>
  <audio controls autoplay src={Astro.props.card.audioUrl} />
  <form method="POST" action={`/respond/${Astro.props.card.id}`}>
    <button type="submit">Reveal</button>
  </form>
</article>
