---
import { getAudioUrl } from "../services/flashcardService";
interface Props {
  cardId: string;
  reviewId: string;
  voiceId: string;
}

const { cardId, reviewId, voiceId } = Astro.props;
const audioUrl = getAudioUrl(cardId, voiceId);
---

<article>
  <audio controls autoplay src={audioUrl}></audio>
  <form method="POST" action={`/respond/${reviewId}`}>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      type="submit">Reveal</button
    >
  </form>
</article>
