---
// Import the required functions
import MainLayout from "../../layouts/MainLayout.astro";
import { eq } from "drizzle-orm";
import db from "../../db";
import { cardsProgress, reviews } from "../../schema";
import { getCardById, getAudioUrl } from "../../services/flashcardService";
import { assertNotNull } from "../../utils";

// Extract the ID from the URL
const reviewId = Astro.params.id;
assertNotNull(reviewId);

const [review] = await db
  .select()
  .from(reviews)
  .where(eq(reviews.id, reviewId));
assertNotNull(review);
const { cardId } = review;

// Fetch the card information
const card = await getCardById(cardId);
assertNotNull(card);

const [progress] = await db
  .select()
  .from(cardsProgress)
  .where(eq(cardsProgress.cardId, card.id));

console.log({ progress });

const audioUrl = getAudioUrl(card.id, review.voiceId);
---

<MainLayout title="Respond">
  <article class="max-w-lg mx-auto mt-10 p-4 flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-4">{card.spanish}</h1>
    <h2 class="mb-4">{card.english}</h2>
    <audio controls src={audioUrl} class="mb-4 w-full"></audio>
    <form method="POST" action={`/result/${review.id}`} class="w-full">
      <label class="block mb-2">Correct?</label>
      <fieldset class="w-full">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded mb-2 w-full"
          type="submit"
          name="response"
          value="yes">Yes</button
        >
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded w-full"
          type="submit"
          name="response"
          value="no">No</button
        >
      </fieldset>
    </form>
  </article>
</MainLayout>
