---
// Import the required functions
import { getCardById } from "../../services/flashcardService";
import { assertNotNull } from "../../utils";

// Extract the ID from the URL
const cardId = Astro.params.id;
assertNotNull(cardId);

// Fetch the card information
const card = await getCardById(parseInt(cardId));
assertNotNull(card);
---

<article>
  <h2>{card.english} = {card.spanish}</h2>
  <audio controls autoplay src={card.audioUrl}></audio>
  <form method="POST" action={`/result/${card.id}`}>
    <button type="submit" name="response" value="yes">I knew this</button>
    <button type="submit" name="response" value="no"
      >I didn't know this</button
    >
  </form>
</article>
