---
// Import the required functions
import { getCardById } from "../../services/flashcardService";
import { assertNotNull } from "../../utils";

// Extract the ID from the URL
const cardId = Astro.params.id;
assertNotNull(cardId);

// Fetch the card information
const card = await getCardById(parseInt(cardId));
assertNotNull(card);
---

<article>
  <h1>{card.spanish}</h1>
  <h2>{card.english}</h2>
  <audio controls autoplay src={card.audioUrl}></audio>
  <form method="POST" action={`/result/${card.id}`}>
    <label>Correct?</label>
    <fieldset>
      <button type="submit" name="response" value="yes">Yes</button>
      <button type="submit" name="response" value="no">No</button>
    </fieldset>
  </form>
</article>
